.navbar-citadelle {
  font-size: 2.5rem !important;
  font-weight: 200;
  padding-left: 2rem;
}

.navbar-citadelle-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  padding-bottom: 4rem;
}

body {
  font-family: Aileron2, Aileron, sans-serif;
  font-weight: normal;
  margin-top: 6rem;
  height: 100%;
  overflow: hidden;
}

body main {
  padding-top: 3rem;
}

body main .custom-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

body main .column-div {
  padding: 1rem;
}

body main .bottom-line-corail {
  border-bottom: solid #FF6F61;
  border-width: 0.1rem;
}

body main .titre-citadelle {
  font-size: 1.8rem;
  font-weight: 200;
}

body main .mot-citadelle {
  font-size: 1.3rem;
  font-weight: 100;
}

body main .sous-titre-citadelle {
  font-size: 2rem;
  font-weight: 100;
}

body main .texte-citadelle {
  font-size: 1.5rem;
  font-weight: 100;
}

body main .texte-corail {
  color: #FF6F61;
}

body main .texte-fond-corail {
  background-color: #FF6F61;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-Black.otf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-Heavy.otf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-Light.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-Thin.otf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-UltraLight.otf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-BlackItalic.otf");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-HeavyItalic.otf");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-BoldItalic.otf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-SemiBoldItalic.otf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-RegularItalic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-LightItalic.otf");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-ThinItalic.otf");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: Aileron2;
  src: url("../fonts/Aileron-UltraLightItalic.otf");
  font-style: italic;
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */